services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: kmapi
      POSTGRES_PASSWORD: kmapi
      POSTGRES_DB: km_api
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
